@use "variables" as v;
@use "placeholders";
@use "mixins" as m;
@use "sass:color";

.header {
	background-color: color.adjust(v.$color_white, $alpha: -0.9);
	border-bottom: 1px solid v.$color_white;

	&__wrapper {
		height: 52px;
		@include m.d-flex(start, center);
		.title {
			height: 100%;
			font-weight: 500;
			font-size: 25px;
			text-transform: uppercase;
			padding: 0 50px;
			border-right: 1px solid v.$color_white;
			@include m.d-flex(center, center);
			&__link {
				color: v.$color_white;
				@extend %hover-black;
			}
			span {
				font-weight: 700;
			}

			@media (max-width: v.$media_992) {
				padding: 0 40px;
			}
		}
		.nav {
			flex-grow: 1;
			&__list {
				height: 100%;
				padding: 0 30px 0 110px;
				@include m.d-flex(start, center, nowrap, min(5vw, 95px));

				@media (max-width: v.$media_992) {
					padding: 0 20px;
					@include m.d-flex(center, center, nowrap, min(5vw, 95px));
				}
			}
			&__item {
				font-size: 22px;
				&-link {
					color: v.$color_white;
					flex-grow: 1;
					@extend %hover-black;
				}
			}
		}
		.covid {
			height: 100%;
			font-weight: 700;
			text-transform: uppercase;
			padding: 0 30px;
			border-left: 1px solid v.$color_white;
			border-right: 1px solid v.$color_white;
			@include m.d-flex(center, center);
			&__link {
				color: v.$color_white;
				@extend %hover-black;
			}
		}
		.globe {
			height: 100%;
			padding: 0 30px;
			@include m.d-flex(center, center);
			&__link {
				&-icon {
					width: 27px;
					height: 29px;
					fill: v.$color_white;
					@extend %hover-black-icon;
				}
			}
		}
	}

	@media (max-width: v.$media_992) {
		&__wrapper {
			.nav,
			.globe {
				display: none;
			}

			.covid {
				border-left: none;
			}
		}
	}

	@media (max-width: v.$media_576) {
		&__wrapper {
			.covid {
				display: none;
			}
		}
	}
}

.mob-nav {
	position: fixed;
	inset: 0;
	z-index: 9999;
	backdrop-filter: blur(15px);
	translate: -100% 0;
	transition: translate 0.3s;

	&__menu {
		height: 100%;
		flex-grow: 1;
		display: none;
	}

	&__burger,
	&__cross {
		padding: 0 15px;
	}

	&__icon {
		width: 25px;
		height: 22px;
		stroke: v.$color_white;
	}

	&__icon:hover {
		cursor: pointer;
		stroke: v.$color_black;
		transition: stroke 0.3s;
	}

	&__toggler {
		display: none;
	}

	&__toggler:checked + & {
		translate: 0 0;
	}

	.nav {
		padding: 50px 0 50px 70px;

		&__list {
			@include m.d-flex(start, start, nowrap, 0, 40px, column);
		}

		&__item {
			font-size: 36px;

			&-link {
				color: v.$color_white;
				@extend %hover-black;
			}
		}
	}

	@media (max-width: v.$media_992) {
		&__menu {
			@include m.d-flex(end, center);
		}

		&__cross {
			position: absolute;
			top: 13px;
		}
	}

	@media (max-width: v.$media_576) {
		.nav {
			padding: 50px 0 50px 20px;

			&__item {
				font-size: 32px;
			}
		}
	}
}
