@use "variables" as v;
@use "sass:color";

%hover-black {
	&:hover {
		cursor: pointer;
		color: v.$color_black;
		transition: color 0.3s;
	}
}

%hover-white {
	&:hover {
		cursor: pointer;
		color: v.$color_black;
		background-color: v.$color_white;
		transition: all 0.3s;
	}
}

%hover-blue {
	&:hover {
		cursor: pointer;
		color: v.$color_white;
		background-color: color.adjust(v.$color_white, $alpha: -0.7);
		transition: all 0.3s;
	}
}

%hover-black-icon {
	&:hover {
		cursor: pointer;
		fill: v.$color_black;
		transition: fill 0.3s;
	}
}
